@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


@import "tailwindcss";
@theme {
  
  --color-darkGreen: oklch(0.35 0.14 142);
  --color-lightGreen: oklch(0.7152 0.2064 143.79); /*38C240*/
  --color-brandGreen: oklch(0.5233 0.1355 143.94); /*#2e7d31*/
  --color-brandLightGreen: oklch(0.9498 0.0874 146.28);
  --color-brandFont: oklch(0.2024 0.0031 196.91);
  

  --font-montserrat: "Montserrat", system-ui, sans-serif;

}
